html, body {font-family: 'Open Sans', sans-serif !important; height: 100%; }
.img-circle{ border-radius: 50%; border: 5px solid #22A39F ;}
.top{
	width: 100%;
    height:100%;
}
.top #particles-js {
	width: 100%;
    height:100%;
    position: absolute;
    background-color: #36D7B7;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}
.top .container { padding-top: 15%; position: relative; top: 5%; text-align: center; }
.top .container h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(0,0,0,0.35); display: inline-block;font-size: 50px; }
.top .intro-text{ position: relative; top: 3%;text-align: center; font-size:40px; }

.top .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 2%; background-color: #222222; text-align: center; z-index: 6; }

.top .scroll-down .glyphicon {
	color: #FFFFFF;
	font-size: 30px;
	padding-right: 2px;
	padding-top: 20px;

	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.top .scroll-down:hover .glyphicon { padding-top: 25px; }

#navbar{border: 0px; background-color: #222222; position: absolute; top: 100%; right: 2%; width: 110px; z-index: 999;}
#navbar li{
	display: block; float: none; height: 80px;
}
#navbar li.active{
	background: #22A39F; color: #FFFFFF;
}
#navbar a{
	display: block;  height: 80px; text-align: center; padding-top: 30px;font-size: 15px;font-weight: 600; color: #FFFFFF;
}
#navbar .icon {
  display: none;
}
.background-main { background: #F3F0DF; }
.background-white { background: #FFFFFF; }
.background-gray{background: #434242;}
.container { max-width: 1280px; padding: 40px 180px; }
.container h2{font-weight: 300; color: #00a4a7;font-size: 54px; text-align: center; margin-bottom: 30px;}
.container p.back{text-align: center; color: #727878;font-size: 30px;}
.container p.small{text-align: left; color: #727878;font-size: 20px;}
.container p.intro{text-align: left; color: solid #FFFFFF;font-size: 15px;}

.container h3{font-size: 30px;font-weight: 500; color: #22A39F;margin-bottom: 30px; margin-left: 5px;}
.container h4{font-size: 30px;font-weight: 500; margin-bottom: 5px; text-align: left;}

.container hr { margin: 40px 0px;border-color: #D3D3D3;}
.container-in {margin-left:20%;}
#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }

#skills span{font-size: 15px;}
#skills ul > li { min-height: 30px; padding: 3px 0px; }
#skills ul > li:hover { background: #F2F2F2; }
#skills ul > li .skill-title { display: inline-table; width: 60%; }
#skills ul > li .skill-score { float: right; }
#skills ul > li .skill-score .glyphicon {
	color: #22A39F;
	font-size: 14px;

	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#skills ul > li .skill-score .glyphicon.filled { color: #22A39F; }

#skills ul > li:hover .skill-score .glyphicon { margin-left: 2px; }

#projects .row > div { margin-bottom: 30px; }

#projects figure { position: relative; overflow: hidden; }
#projects figure h3 { color: #FFF; font-weight: 600; margin-bottom: 5px; }
#projects figure p > strong { width: 60px; display: inline-block; margin: 0px; }
#projects figure img { width: 110%; }
#projects figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure .icon {
	background: #00a4a7;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
}
#projects figure .icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}
#contact .center-block { display: block; margin-left: auto; margin-right: auto;text-align: center; }
#contact a{color: black;}
#contact h4{text-align: center;}
#contact .center-block:hover i,#contact .center-block:hover h4{
	color: #00a4a7;
}
@media (max-width: 767px) {
	.top .scroll-down { width: 100%; right: 0px; }
	#navbar{display: none;}
}
/*
@media only screen and (orientation: portrait) and (max-width: 767px)  {

}
@media only screen and (orientation: landscape) and (max-width: 767px)  {


}*/


figure.project {
	background: #22A39F;
	color: #FFF;
}

figure.project img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.project:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.project figcaption {
	text-align: left;
}

figure.project h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.project:hover h3 {
	opacity: 1;
}

figure.project h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.project:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.project p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.project:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
